<div class="container my-4">
  <div class="row d-flex justify-content-center">
    <%= form_with(model: [@user, @profile], local: true) do |form| %>
      <h1 class="text-center profile-title">Editar Perfil</h1>
      <%= render 'form', form: form %>
    <% end %>
  </div>
</div>
