/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background:
   linear-gradient(orange 0 0) 0/0% no-repeat
   lightblue;
  animation: l2 2s infinite steps(10);
}
@keyframes l2 {
    100% {background-size:110%}
}

.image-container {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
}

.img-barcode {
  width: 180px;
  height: auto;
}

#loader {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  margin: 20px auto;     /* Centrado vertical */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center;     /* Centrado horizontal */
  min-height: 100vh;       /* Abarcar toda la pantalla */
}

#scan-gif {
  width: 180px;
  height: auto;
}

.custom-animated-btn {
  background-color: #1EDD88;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  //font-weight: bold;
  cursor: pointer;
  display: inline-block;
  font-size: 35px;
  transition: background-color 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 200px;
  text-align: center;
  box-shadow: 9px 7px 15px 5px rgba(0,0,0,0.3);
  //animacion del boton pulsante
  animation: pulse 3s infinite; /* Duración de 3 segundos, ciclo infinito */
  transition: transform 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.2); /* Aumenta un 20% */
  }
  100% {
    transform: scale(1); /* Vuelve al tamaño original */
  }
}

.btn-return {
  border-radius: 10px;
}
