/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background:
   linear-gradient(orange 0 0) 0/0% no-repeat
   lightblue;
  animation: l2 2s infinite steps(10);
}
@keyframes l2 {
    100% {background-size:110%}
}

.image-container {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
}

.img-barcode {
  width: 180px;
  height: auto;
}

#loader {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  margin: 20px auto;     /* Centrado vertical */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center;     /* Centrado horizontal */
  min-height: 100vh;       /* Abarcar toda la pantalla */
}
