body{
  background-color: #FFFFDD;
}
.loader {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background:
   linear-gradient(orange 0 0) 0/0% no-repeat
   lightblue;
  animation: l2 2s infinite steps(10);
}
@keyframes l2 {
    100% {background-size:110%}
}

.image-container {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
}

.img-barcode {
  width: 180px;
  height: auto;
}

#loader {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  margin: 20px auto;     /* Centrado vertical */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center;     /* Centrado horizontal */
  min-height: 100vh;       /* Abarcar toda la pantalla */
}

#scan-gif {
  width: 180px;
  height: auto;
}

.btn-scan {
  background-color: #61a3ba;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  transition: background-color 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 180px;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn-return {
  background-color: #A2C579;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
