
<div class = "container mt-5 text-justify product-background" style="max-width: 70%;">
  <div class="text-overlay">
    <h1 class="product-title mb-4 fw-bold"><strong>Nueva Consulta de Producto</strong></h1>
    <div>
      <h2>Instrucciones: </h2>
      <div>
        <p> <strong>Toma una foto al código de barras del alimnento que deseas verificar como apto para tu consumo</strong>
      </div>
      </p>
    </div>
    <div>
      <%= simple_form_for [@user, @profile, @barcode] do |f| %>
        <div class="custom-file">
          <%= f.input :photo, as: :file,  input_html: { multiple: true, class: "custom-file-input", id: "file-input", onchange: "this.form.submit();", style: "display: none;"}, label: false  %>
          <%# f.submit "Escanear", class: "custom-file-btn" %>
          <label for="file-input" class="custom-file-btn">Escanear</label>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to "Volver a Mi Perfil", user_profile_path(@user, @profile) %>
  </div>
</div>
