<h1>Producto Consultado</h1>

<div class = "container mt-5 text-justify product-background" style="max-width: 70%;">
  <div class="text-overlay">
    <h1><strong>Consulta de producto</strong></h1>
    <div>
     <p>
        <%= @answer %>
     </p>
     <br>
     <p>
        <%= @search %>
     </p>
    </div>
  </div>
  <div>
    <%= link_to "Volver a la lista de historicos" %>
  </div>
