<%= simple_form_for [@user, @profile, @product],
  html: {
    id: "edit-form",
  }  do |f| %>
  <%= turbo_frame_tag "form2" do %>
   <div class="custom-file">
      <%= f.input :photos, as: :file, input_html: {class: "custom-file-input", id: "file-input-2", onchange: "showLoaderAndSubmit();;", style: "display: none;"}, label: false  %>
      <%= f.input :barcode, :as => :hidden, input_html: { value: params[:param1] } %>
      <label for="file-input-2" class="custom-file-btn">Escanear parte trasera</label>
    </div>
  <% end %>
<% end %>
