<div id= "loading-new" class="container" style = "margin: auto; display: none;">
  <div id="lottie-hunt"></div>
  <h3 class= "loading-text" >Estamos analizando tu producto, solo tomará unos segundos.</h3>
</div>
<div class="container mt-1" id = "new-page">
  <h1 class="product-title mb-2 fw-bold">Instrucciones para escanear la parte delantera</h1>
    <%= image_tag "products/milk-front.png", alt: "Milk box front side", width: 200, class: "centered-img"  %>
  <div class="product-new-text p-3">
    <p class="mb-2"> 1. Toca el botón  de "Escanear" para abrir la cámara. <br>
        <br>
        2. <strong>Captura la parte delantera </strong>  del producto, asegúrate que la foto sea nítida y se puedan visualizar el nombre del producto, la marca y el contenido neto. <br>
        <br>
        3. Espera unos segundos y te redirigiremos a la toma de la foto trasera.
        </p>
  </div>   <%= render 'form1', user: @user, profile: @profile, product: @product %>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
      const container = document.getElementById('lottie-hunt');
      lottie.loadAnimation({
        container: container, // the DOM element to render the animation in
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '<%= asset_path("/animations/product-hunt.json") %>' // the path to your animation file
      });
    });
    function showLoaderAndSubmit() {
      // document.getElementById("new-page").setAttribute("hidden", "hidden");
      document.getElementById("new-page").style.display = 'none';

      // Mostrar el loader
      document.getElementById('loading-new').style.position = 'relative';
      document.getElementById('loading-new').style.display = 'flex';


      // Enviar el formulario
      document.getElementById('new-form').submit();
    }
</script>
