<div class="container mt-4">
  <h1 class="product-title mb-4 fw-bold">Instrucciones para escaneo</h1>
  <%= image_tag "products/supermarket.png", alt: "Girl scanning supermarket products", width: 200, class: "centered-img mb-5"  %>
  <p class="mb-5"> 1. Toca el bot칩n  de "Escanear" para abrir la c치mara. <br>
      <br>
      2. Concede Permiso: Si se te solicita, permite que
      la aplicaci칩n acceda a tu c치mara. <br>
      <br>
      3. Captura frontal: Toma una foto de la parte delantera del producto, aseg칰rate que la foto sea n칤tida y se puedan visualizar el nombre del producto, la marca y el contenido neto. <strong>Mientras m치s informaci칩n captures, ser치 mejor 游땙</strong>. <br>
      <br>
      4. Espera unos segundos y te redirigiremos a la toma de la foto trasera.

      </p>
    <%= render 'form1', user: @user, profile: @profile, product: @product %>
</div>
<script>

</script>
